{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    Name:
                    <input type="Text" name=Name"name">
                    <div>
                        <button>Create</button>
                    </div>
                </form>
            </main>
        </div>
    </table>
</div>
</body>
</html>
