{% comment %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Todo List</h1>
                <h2>Tasks</h2>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                    {% for task in todo_list_object.items.all %}
                        <tr>
                            <td>{{ tasks.task }}</td>
                            <td>{{ tasks.due_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html> {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_object.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Update a new list</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tasks in todo_list_object.items.all %}
                            <tr>
                                <td>{{ tasks.task }}</td>
                                <td>{{ tasks.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
