{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>"My Lists"</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    {% for index in todo_list_list %}
                        <tr>
                            <td>{{ index.name }}</td>
                            <a href="{% url 'todo_list_detail' index.id %}">{{ index.name }}</a>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html> {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                    <a href="{% url 'todo_list_update' %}">Update a new list</a>
                </p>
                <table class="TodoList-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    {% for list in todo_list_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
